### SolidityTruffle ###
# depedencies
Truffle/node_modules

# testing
Truffle/coverage

# production
Truffle/build
Truffle/build_webpack

# misc
Truffle/.DS_Store
Truffle/.env
Truffle/npm-debug.log
Truffle/.truffle-solidity-loader
Truffle/.vagrant/**
Truffle/blockchain/geth/**
Truffle/blockchain/keystore/**
Truffle/blockchain/history

#truffle
Truffle/.tern-port
Truffle/yarn.lock
Truffle/package-lock.json
