<div class="modal fade" id="modal-new-candidat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau Candidat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body m-1 row justify-content-center">
                <input class="col-5 form-control m-1" type=text placeholder="Nom" />
                <input class="col-5 form-control m-1" type=text placeholder="Prénom" />
                <input class="col-10 form-control m-1" type=text placeholder="Déscription" />
                <input class="col-10 form-control m-1" type=text placeholder="URL Image" />
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary submit d-none" value="Ajouter" />
            </div>
        </div>
    </div>
</div>
