<div class="modal fade" id="modal-new-candidat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau Candidat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body m-1 row justify-content-center">
                <input type=hidden name="election_id" value="36" />
                <input class="col-5 form-control m-1" type=text name="firstname" placeholder="Prénom" />
                <input class="col-5 form-control m-1" type=text name="lastname" placeholder="Nom" />
                <input class="col-10 form-control m-1" type=text name="description" placeholder="Déscription" />
                <input class="col-10 form-control m-1" type=text name= "image" placeholder="URL Image" />
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary submit " value="Ajouter" />
            </div>
        </div>
    </div>
</div>
