<div class="modal fade" id="modal-new-election" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvelle élection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body m-1 row justify-content-center">
                <input type="text" name="election_name" placeholder="Libellé de l'élection" class="col-10 mb-3"/>

                <label class="col-5 mb-3" for="election_start_candidate">Début candidature :</label>
                <input class="col-5 mb-3" number="1" type="date" name="election_start_candidate">

                <label class="col-5 mb-3" for="election_end_candidate">Fin de candidature :</label>
                <input class="col-5 mb-3" number="2" type="date" name="election_end_candidate">

                <label class="col-5 mb-3" for="election_start_vote">Début de vote :</label>
                <input class="col-5 mb-3" number="3" type="date" name="election_start_vote">

                <label class="col-5 mb-3" for="election_end_vote">Fin de vote :</label>
                <input class="col-5 mb-3" number="4" type="date" name="election_end_vote">
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary submit d-none" value="Ajouter" />
            </div>
        </div>
    </div>
</div>
