{% extends "layout.twig" %}

{% block header %}
    <script src="/javascripts/index.js"></script>
{% endblock %}

{% block content %}
    <input type="submit" class="btn btn-dark" value="{{data}}" />
    <button type="button" class="btn btn-primary submit">Liste</button>

{% endblock %}
