{% extends "layout.twig" %}

{% block header %}
    <script src="/javascripts/index.js"></script>
{% endblock %}

{% block content %}
    <input type="hidden" name="electionsIds" value="{{electionsIds}}" />

    <div class="row justify-content-around" id="electionIndexContent"></div>
{% endblock %}
