<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>BlockChain !! !! !!</title>

    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/index.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="/javascripts/jQuery/jQuery.js"></script>
    <script src="/javascripts/Helper.js"></script>
    <script src="/javascripts/Metier.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script> $j = jQuery </script>

    <script src="/javascripts/layout.js"></script>
    {% block header %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark pl-5 pr-5">
        <a class="navbar-brand" href="/">Election</a>
        <button id='create-election' class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#modal-new-election">Créer une éléction</button>
    </nav>

    <div id='container' class='ml-5 mr-5'>
        {% block content %}{% endblock %}
    </div>

    {% include 'Modals/newElectionModal.twig' %}

</body>
</html>
